<!DOCTYPE html>
<html class="document" lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Рабочая область</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>

<body class="provider-page">
    <main class="provider-main">
        {{{body}}}
    </main>
    <script src="/scripts/script.js"></script>
</body>

</html>