<article class='main__content content content_pay' id="buy-coin">
    <h1 class='content__title'>{{{Buy_coins}}}</h1>
    <form class='content__block-buy-coins' method="post" action="/pay">
        <input type="number" name="coins">
        <input class="" type="submit" value="{{{Pay}}}" id="buy-coin-submit">
    </form>
</article>