<article class="main__content content content_fileisnotupload">
    <h1 class='content__title'>Произошел какой-то сбой. Файл не загрузился.</h1>
    <a href='/{{{langPath}}}/order-file-processing'>Попробуйте еще раз</a>
</article>