{{!-- это не готово --}}
<article class="main__content content content_history">
            <h1 class="content__title">Список транзакций</h1>
            <ul class='content__transactions transactions'>
                <li class='transactions__transaction transaction'>
                <div class='transaction__time'>Время транзакции <span class='transaction__time-value'>2022-06-14 07:46:59</span></div>
                <div class='transaction__sum'>Сумма транзакции <span class='transaction__sum-value'>100</span></div>
            </li><li class='transactions__transaction transaction'>
                <div class='transaction__time'>Время транзакции <span class='transaction__time-value'>2022-06-14 08:37:25</span></div>
                <div class='transaction__sum'>Сумма транзакции <span class='transaction__sum-value'>200</span></div>
            </li><li class='transactions__transaction transaction'>
                <div class='transaction__time'>Время транзакции <span class='transaction__time-value'>2022-06-14 08:38:23</span></div>
                <div class='transaction__sum'>Сумма транзакции <span class='transaction__sum-value'>300</span></div>
            </li><li class='transactions__transaction transaction'>
                <div class='transaction__time'>Время транзакции <span class='transaction__time-value'>2022-06-14 09:23:37</span></div>
                <div class='transaction__sum'>Сумма транзакции <span class='transaction__sum-value'>400</span></div>
            </li><li class='transactions__transaction transaction'>
                <div class='transaction__time'>Время транзакции <span class='transaction__time-value'>2022-06-14 09:54:55</span></div>
                <div class='transaction__sum'>Сумма транзакции <span class='transaction__sum-value'>600</span></div>
            </li><li class='transactions__transaction transaction'>
                <div class='transaction__time'>Время транзакции <span class='transaction__time-value'>2022-06-14 09:56:09</span></div>
                <div class='transaction__sum'>Сумма транзакции <span class='transaction__sum-value'>700</span></div>
            </li><li class='transactions__transaction transaction'>
                <div class='transaction__time'>Время транзакции <span class='transaction__time-value'>2022-06-14 09:59:13</span></div>
                <div class='transaction__sum'>Сумма транзакции <span class='transaction__sum-value'>100</span></div>
            </li><li class='transactions__transaction transaction'>
                <div class='transaction__time'>Время транзакции <span class='transaction__time-value'>2022-06-14 10:27:39</span></div>
                <div class='transaction__sum'>Сумма транзакции <span class='transaction__sum-value'>200</span></div>
            </li><li class='transactions__transaction transaction'>
                <div class='transaction__time'>Время транзакции <span class='transaction__time-value'>2022-06-15 07:31:04</span></div>
                <div class='transaction__sum'>Сумма транзакции <span class='transaction__sum-value'>100</span></div>
            </li><li class='transactions__transaction transaction'>
                <div class='transaction__time'>Время транзакции <span class='transaction__time-value'>2022-06-15 07:33:07</span></div>
                <div class='transaction__sum'>Сумма транзакции <span class='transaction__sum-value'>100</span></div>
            </li><li class='transactions__transaction transaction'>
                <div class='transaction__time'>Время транзакции <span class='transaction__time-value'>2022-06-15 07:40:07</span></div>
                <div class='transaction__sum'>Сумма транзакции <span class='transaction__sum-value'>100</span></div>
            </li><li class='transactions__transaction transaction'>
                <div class='transaction__time'>Время транзакции <span class='transaction__time-value'>2022-06-16 10:22:18</span></div>
                <div class='transaction__sum'>Сумма транзакции <span class='transaction__sum-value'>100</span></div>
            </li><li class='transactions__transaction transaction'>
                <div class='transaction__time'>Время транзакции <span class='transaction__time-value'>2022-06-16 10:24:48</span></div>
                <div class='transaction__sum'>Сумма транзакции <span class='transaction__sum-value'>100</span></div>
            </li><li class='transactions__transaction transaction'>
                <div class='transaction__time'>Время транзакции <span class='transaction__time-value'>2022-06-16 10:26:38</span></div>
                <div class='transaction__sum'>Сумма транзакции <span class='transaction__sum-value'>100</span></div>
            </li><li class='transactions__transaction transaction'>
                <div class='transaction__time'>Время транзакции <span class='transaction__time-value'>2022-06-16 10:27:25</span></div>
                <div class='transaction__sum'>Сумма транзакции <span class='transaction__sum-value'>100</span></div>
            </li><li class='transactions__transaction transaction'>
                <div class='transaction__time'>Время транзакции <span class='transaction__time-value'>2022-06-16 10:28:46</span></div>
                <div class='transaction__sum'>Сумма транзакции <span class='transaction__sum-value'>100</span></div>
            </li><li class='transactions__transaction transaction'>
                <div class='transaction__time'>Время транзакции <span class='transaction__time-value'>2022-06-16 10:31:31</span></div>
                <div class='transaction__sum'>Сумма транзакции <span class='transaction__sum-value'>100</span></div>
            </li><li class='transactions__transaction transaction'>
                <div class='transaction__time'>Время транзакции <span class='transaction__time-value'>2022-06-16 10:33:24</span></div>
                <div class='transaction__sum'>Сумма транзакции <span class='transaction__sum-value'>100</span></div>
            </li><li class='transactions__transaction transaction'>
                <div class='transaction__time'>Время транзакции <span class='transaction__time-value'>2022-06-16 10:37:24</span></div>
                <div class='transaction__sum'>Сумма транзакции <span class='transaction__sum-value'>100</span></div>
            </li><li class='transactions__transaction transaction'>
                <div class='transaction__time'>Время транзакции <span class='transaction__time-value'>2022-06-16 10:42:51</span></div>
                <div class='transaction__sum'>Сумма транзакции <span class='transaction__sum-value'>100</span></div>
            </li><li class='transactions__transaction transaction'>
                <div class='transaction__time'>Время транзакции <span class='transaction__time-value'>2022-06-16 10:44:53</span></div>
                <div class='transaction__sum'>Сумма транзакции <span class='transaction__sum-value'>255</span></div>
            </li><li class='transactions__transaction transaction'>
                <div class='transaction__time'>Время транзакции <span class='transaction__time-value'>2022-06-16 10:49:56</span></div>
                <div class='transaction__sum'>Сумма транзакции <span class='transaction__sum-value'>145</span></div>
            </li><li class='transactions__transaction transaction'>
                <div class='transaction__time'>Время транзакции <span class='transaction__time-value'>2022-06-16 10:57:52</span></div>
                <div class='transaction__sum'>Сумма транзакции <span class='transaction__sum-value'>150</span></div>
            </li><li class='transactions__transaction transaction'>
                <div class='transaction__time'>Время транзакции <span class='transaction__time-value'>2022-06-16 11:02:56</span></div>
                <div class='transaction__sum'>Сумма транзакции <span class='transaction__sum-value'>150</span></div>
            </li><li class='transactions__transaction transaction'>
                <div class='transaction__time'>Время транзакции <span class='transaction__time-value'>2022-06-16 11:04:56</span></div>
                <div class='transaction__sum'>Сумма транзакции <span class='transaction__sum-value'>150</span></div>
            </li><li class='transactions__transaction transaction'>
                <div class='transaction__time'>Время транзакции <span class='transaction__time-value'>2022-06-16 11:06:08</span></div>
                <div class='transaction__sum'>Сумма транзакции <span class='transaction__sum-value'>150</span></div>
            </li><li class='transactions__transaction transaction'>
                <div class='transaction__time'>Время транзакции <span class='transaction__time-value'>2022-06-16 11:20:16</span></div>
                <div class='transaction__sum'>Сумма транзакции <span class='transaction__sum-value'>150</span></div>
            </li><li class='transactions__transaction transaction'>
                <div class='transaction__time'>Время транзакции <span class='transaction__time-value'>2022-06-16 11:26:12</span></div>
                <div class='transaction__sum'>Сумма транзакции <span class='transaction__sum-value'>150</span></div>
            </li><li class='transactions__transaction transaction'>
                <div class='transaction__time'>Время транзакции <span class='transaction__time-value'>2022-06-16 11:27:24</span></div>
                <div class='transaction__sum'>Сумма транзакции <span class='transaction__sum-value'>150</span></div>
            </li><li class='transactions__transaction transaction'>
                <div class='transaction__time'>Время транзакции <span class='transaction__time-value'>2022-06-16 11:30:22</span></div>
                <div class='transaction__sum'>Сумма транзакции <span class='transaction__sum-value'>150</span></div>
            </li>
            </ul>
        </article>