
        <form class="provider-gate-form" method="POST" action='/login/password'>
            <div class="provider-gate-form__label">Логин</div>
            <input class='provider-gate-form__input' type='text' name='username'>
            <div class="provider-gate-form__label">Пароль</div>
            <input class='provider-gate-form__input' type='password' name='password'>
            <input class="provider-gate-form__submit" type='submit' value='Войти'>
        </form>
   